
 th, td {

    text-align: center;
     color: dimgray;
     padding: 0;
     
         }
h1 {
    text-align:center;
    color: darkslategray;
    margin-top: auto;
}

p {
    text-align: center;
    color: darkslategray;
    margin-top: auto;
}

p1 {
    text-align: center;
}
table{ 
        margin: auto;
    width: 150PX;
    height: 100PX;

    font-family:sans-serif;
align-content: center;
    background-image: linear-gradient(white,#ECF0F1);
    padding: 0;
    
}



p{
    color: dimgray;
}


body{
		background: url(https://image.freepik.com/free-vector/abstract-minimal-white-background_23-2148887988.jpg);
		background-size: 120vw 120vh;
		background-repeat: no-repeat;
	}
